link(rel='stylesheet', href='/static/jasmine/jasmine.css')
link(rel='stylesheet', href='/static/closure_reporter.css')
script(src='/static/external/goog/base.js')
script(src='/static/external/deps.js')
script(src='/static/jasmine/jasmine.js')
script(src='/static/jasmine/jasmine-html.js')
script(src='/static/jasmine/closure_reporter.js')
script(src='/static/external/jasmine-closure/lib/jasmine-closure.js')
script(src='/static/external/spec/shared.js')
script(src='/static/execute.js')
