html(lang='en')
  head
    script(src='http://closure-library.googlecode.com/svn/trunk/closure/goog/base.js')
    script(src='/static/spec_tree.js')
    script
      var tree = !{JSON.stringify(specTree)};

title JRunner
body!= body
  div
