
include include
script(src='/static/spec_tree.js')
link(rel='stylesheet', href='/static/tree.css')
script
  var tree = !{JSON.stringify(specTree)};

h1=namespace
form(action="/spec", method="get")
  input(type="hidden", name='path', value=namespace)
  input(type="submit", value="Run Again", id='run_again')

each file in files
  script(src=file)
