include include
script(src='/static/spec_tree.js')
link(rel='stylesheet', href='/static/tree.css')
script
  var tree = !{JSON.stringify(specTree)};

h1=namespace
div#stats
  div
    div#event_desc
      |Total Event listeners:
    div#total_events
      |0
  div
    div#object_desc
      |Total undisposed objects:
    div#total_undisposed_object
      |0

each file in files
  script(src=file)
