include include
h1=namespace
form(action="/spec", method="get")
  input(type="hidden", name='path', value=namespace)
  input(type="submit", value="Run Again", id='run_again')

each file in files
  script(src=file)

