body {
  width: 1600px;
}

.eventCounter {
  position: absolute;
  top: 20px;
  right: 10px;
  font-weight: bold;
  background-color: #FAFAD2;
}

#stats {
  line-height: 20px;
  font-size: 15px;
  float: left;
  width:352px;
  background-color: #90EE90;
  padding: 9px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border: 2px solid #006400;
}
#stats.warning {
 background: #FFA500;
 border: 2px solid #FF8C00;
}

#event_desc, #object_desc {
  float: left;
}

.objectCounter {
  position: absolute;
  top: 40px;
  right: 10px;
  background-color: #FAFAD2;
}
.goog-tree-root {
  float: left;
  min-height:auto;
  width:350px;
  background-color: #FEF;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  padding: 10px;
  border: 2px solid #A9A9A9;
}
.jasmine_reporter {
  float: right;
  width: 1200px;
}
.runner, .suite, .spec, .banner {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.goog-tree-item-label:hover {
  font-weight: bold;
  cursor: pointer;
}
